@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}
.ant-btn-primary {
  background-color: #1677ff;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Electrolize&family=Open+Sans&display=swap");

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .ant-btn-primary {
    background-color: #1677ff;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
}
